# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
*.xml
*.iml
*.class
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.xml
*.iml
*.class